/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.info-label {
    font-size: .8rem;
    color: grey;
  }
  
  .fab-bottom-right {
    background-color:green !important;
    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
  }
  
  .mat-sidenav {
    left: 0;
    width: 13.5%;
    box-shadow: 3px 0px 10px 3px rgba(0,0,0,.12);
  }
  
  body{
    background-color:#FAFAFA;
  }
  
  .mat-paginator-container {
    background-color:#FAFAFA;
  }
  
  .mat-row:hover {
    background-color: #F8F8F8;
  }
  
  /* Scroller*/
  ::-webkit-scrollbar {
  width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #555; 
  }
  

 
